@import "tailwindcss";

@theme inline {
  --color-background: light-dark(
    #ffffff,
    #0a0a0a
  );
  --color-foreground: light-dark(
    #171717,
    #ededed
  );
  --color-foreground2: light-dark(
    #7a7a7a,
    #7a7a7a
  );
  --color-foreground3: light-dark(
    #222,
    #ccc
  );
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
